wadl/wadl-maven-plugin/src/test/resources/reserved-words-wadl/ReservedWords.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<ns0:application xmlns:ns0="http://wadl.dev.java.net/2009/02">
   <ns0:doc xmlns:ns1="http://jersey.java.net/" ns1:generatedBy="Jersey: 1.9 09/02/2011 11:17 AM"/>
   <ns0:grammars>
      <ns0:include href="HelloBean.xsd">
         <ns0:doc title="Generated" xml:lang="en"/>
      </ns0:include>
   </ns0:grammars>
   <ns0:resources base="http://www.example.com/resource/">
      <ns0:resource path="/import">
            <ns0:resource path="/{float}">
                <ns0:param xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    type="xs:string" style="template" name="float"/>
                <ns0:method name="GET" id="double">
                    <ns0:response>
                        <ns0:representation xmlns:ns2="urn:example"
                            mediaType="text/plain" element="ns2:bean"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>


         <ns0:method id="int" name="GET">
            <ns0:response>
               <ns0:representation xmlns:ns2="http://example.com/beans" element="ns2:bean" mediaType="application/xml"/>
            </ns0:response>
         </ns0:method>
         <ns0:method id="null" name="PUT">
            <ns0:request>
               <ns0:representation xmlns:ns3="http://example.com/beans" element="ns3:bean" mediaType="application/xml"/>
            </ns0:request>
            <ns0:response>
               <ns0:representation xmlns:ns4="http://example.com/beans" element="ns4:bean" mediaType="application/xml"/>
            </ns0:response>
         </ns0:method>
         <ns0:method id="true" name="POST">
            <ns0:request>
               <ns0:representation xmlns:ns5="http://example.com/beans" element="ns5:bean" mediaType="application/xml"/>
            </ns0:request>
            <ns0:response>
               <ns0:representation xmlns:ns6="http://example.com/beans" element="ns6:bean" mediaType="application/xml"/>
            </ns0:response>
         </ns0:method>
         <ns0:method id="strictfp" name="DELETE">
            <ns0:response>
               <ns0:representation mediaType="application/xml"/>
            </ns0:response>
         </ns0:method>
      </ns0:resource>
   </ns0:resources>
</ns0:application>